<div class="w-100">
  <div class="d-flex flex-wrap flex-stack h-100px px-4">
    <span class="fs-2 fw-bold mb-0" style="border-bottom: 2px solid rgb(85, 88, 219);">Các tập dữ liệu</span>
  </div>
  <div class="w-100 h-50px d-flex flex-stack px-4 pb-3 border-bottom" style="border-color: #d5d5e6!important">
    <div class="page-title d-flex justify-content-center flex-wrap">
      <button pButton pRipple type="button" label="Sao chép" icon="pi pi-copy" class="p-button-outlined p-button-secondary p-2 me-2"></button>
      <button pButton pRipple type="button" label="Chia sẻ" icon="pi pi-share-alt" class="p-button-outlined p-button-secondary p-2 me-2"></button>
      <button pButton pRipple type="button" label="Xóa" icon="pi pi-trash" class="p-button-outlined p-button-secondary p-2"></button>
    </div>
    <div class="page-title d-flex justify-content-center flex-wrap align-items-center">
      <div class="me-4">
        <span class="">Sắp xếp theo: </span>
        <span style="cursor:pointer" class="fs-6 fw-bold" [matMenuTriggerFor]="menu">Mặc định</span>
        <!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>arrow_upward</mat-icon>
            <span>Tiêu đề</span>
          </button>
          <button mat-menu-item>
            <mat-icon>arrow_downward</mat-icon>
            <span>Tiêu đề</span>
          </button>
          <button mat-menu-item>
            <mat-icon>arrow_upward</mat-icon>
            <span>Ngày tạo</span>
          </button>
          <button mat-menu-item>
            <mat-icon>arrow_downward</mat-icon>
            <span>Ngày tạo</span>
          </button>
          <button mat-menu-item>
            <mat-icon>arrow_upward</mat-icon>
            <span>Ngày cập nhật</span>
          </button>
          <button mat-menu-item>
            <mat-icon>arrow_downward</mat-icon>
            <span>Ngày cập nhật</span>
          </button>
        </mat-menu>
      </div>
      <button pButton pRipple type="button" icon="pi pi-info" class="p-button-outlined p-button-secondary p-2 me-2" (click)="toggleDetail()"></button>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" class="p-inputtext-sm me-3 w-225px" pInputText placeholder="Gõ để tìm kiếm" />
      </span>
      <p-button label="Nhập bản đồ" icon="pi pi-plus" styleClass="p-button-sm"></p-button>
    </div>
  </div>
  <mat-drawer-container class="main-container" autosize>
    <mat-drawer #drawer class="main-sidenav w-300px" mode="side" position="end">
     Không có nội dung gì ở đây
    </mat-drawer>

    <div class="main-sidenav-content">
      <div class="row mt-4 mx-0" *ngIf="listMap.items.length > 0" style="height:calc(100vh - 215px - 1rem);overflow:auto">
        <div class="col-md-6 col-lg-4 col-xl-3 mb-6 px-4" *ngFor="let app of listMap.items;">
          <div class="card card-flush border" style="border-color: #d5d5e6!important">
            <!--begin::Body-->
            <div class="card-body text-center pb-3 p-0">
              <!--begin::Overlay-->
              <a class="d-block overlay">
                <!--begin::Image-->
                <div class="overlay-wrapper bgi-no-repeat bgi-position-center bgi-size-cover card-rounded-top mb-4 h-200px" style="background-image: url('/assets/media/map-empty.png')"></div>
                <!--end::Image-->
                <!--begin::Action-->
                <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                  <i class="bi bi-eye-fill fs-2x text-white"></i>
                </div>
                <!--end::Action-->
              </a>
              <!--end::Overlay-->
              <!--begin::Info-->
              <div class="d-flex align-items-end flex-stack mb-1 px-3">
                <!--begin::Title-->
                <div class="text-start">
                  <div style="display: table; flex-direction: column; table-layout: fixed; width: 100%;">
                    <span class="fw-bold text-gray-800 cursor-pointer text-hover-primary fs-4 d-block" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: table-cell;">{{app.name}}</span>
                  </div>
                  <div style="display: table; flex-direction: column; table-layout: fixed; width: 100%;">
                    <span class="text-gray-700 mt-1 fs-6" *ngIf="app.description" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: table-cell;">{{app.description}}</span>
                    <span class="text-gray-700 mt-1 fs-6" *ngIf="!app.description" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; display: table-cell;">No description</span>
                  </div>
                </div>
                <!--end::Title-->
              </div>
              <!--end::Info-->
            </div>
            <!--end::Body-->
          </div>
        </div>
        <div *ngIf="listMap.length == 0">
          Chưa có bản đồ nào
        </div>
      </div>
    </div>

  </mat-drawer-container>
  
</div>
