<div class="bg-body"
     data-kt-drawer="true"
     data-kt-drawer-name="menu"
     data-kt-drawer-activate="true"
     data-kt-drawer-overlay="true"
     data-kt-drawer-width="{default:'300px'}"
     data-kt-drawer-direction="start"
     data-kt-drawer-toggle="#kt_menu_toggle"
     data-kt-drawer-close="#kt_menu_close">
  <div class="card shadow-none rounded-0 overflow-hidden w-100">
    <div class="card-header px-4 py-10">
      <div class="menu-item">
        <div class="menu-content d-flex align-items-center px-0">
          <div class="symbol symbol-70px me-5">
            <img class="rounded-circle" alt="Logo" src="./assets/media/avatars/300-1.jpg">
          </div>
          <div class="d-flex flex-column">
            <div class="fw-bolder d-flex align-items-center fs-5">Nguyễn Anh Tuấn</div>
            <a class="fw-bold text-muted text-hover-primary fs-7 cursor-pointer">anhtuan@ekgis.com.vn</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body p-0">
      <div class="menu menu-column menu-state-bg menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary">
        <div class="menu-item">
          <span class="menu-link p-4">
            <mat-icon class="menu-icon" style="color:#808080">add_circle</mat-icon>
            <span class="menu-title fs-5 ms-4">Tạo mới bản đồ</span>
          </span>
        </div>
        <div class="menu-item">
          <span class="menu-link p-4">
            <mat-icon class="menu-icon" style="color:#808080">map</mat-icon>
            <span class="menu-title fs-5 ms-4">Mở bản đồ khác</span>
          </span>
        </div>
        <div class="menu-item">
          <span class="menu-link p-4">
            <mat-icon class="menu-icon" style="color:#808080">edit_square</mat-icon>
            <span class="menu-title fs-5 ms-4">Thiết lập bản đồ</span>
          </span>
        </div>
        <div class="menu-item">
          <span class="menu-link p-4">
            <mat-icon class="menu-icon" style="color:#808080">group_add</mat-icon>
            <span class="menu-title fs-5 ms-4">Chia sẻ bản đồ</span>
          </span>
        </div>
        <div class="menu-item">
          <span class="menu-link p-4">
            <mat-icon class="menu-icon" style="color:#808080">lock_person</mat-icon>
            <span class="menu-title fs-5 ms-4">Phân quyền chỉnh sửa dữ liệu</span>
          </span>
        </div>
        <div class="border-top mb-2" style="margin-left: -1rem;margin-right: -1rem;"></div>
        <div class="menu-item">
          <span class="menu-link p-4">
            <mat-icon class="menu-icon" style="color:#808080">add_to_drive</mat-icon>
            <span class="menu-title fs-5 ms-4">eKMap Drive</span>
            <mat-icon class="menu-icon" style="color:#808080">exit_to_app</mat-icon>
          </span>
        </div>
        <div class="border-top mt-2" style="margin-left: -1rem;margin-right: -1rem;"></div>
      </div>
    </div>
  </div>
</div>
