<div class="">
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-sharp fa-solid fa-book-open"></i>
    <span class="fs-5 text-gray-800 mb-0">Chọn khu vực tra cứu</span>
  </a>
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-solid fa-comment-dots"></i>
    <span class="fs-5 text-gray-800 mb-0">Góp ý</span>
  </a>
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-solid fa-list"></i>
    <span class="fs-5 text-gray-800 mb-0">Thông tin chú giải</span>
  </a>
</div>
