<div class="w-100 py-3">
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-copy"></i>
    <span class="fs-5 text-gray-800 mb-0">Định vị bằng cách dán link bản đồ Google Maps</span>
  </a>
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-text-height"></i>
    <span class="fs-5 text-gray-800 mb-0">Định vị bằng cách nhập tọa độ Google Maps</span>
  </a>
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-map-pin"></i>
    <span class="fs-5 text-gray-800 mb-0">Định vị bằng cách tìm theo địa điểm, địa chỉ</span>
  </a>
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-map-marked-alt"></i>
    <span class="fs-5 text-gray-800 mb-0">Định vị bằng cách nhập tọa độ VN-2000</span>
  </a>
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-map-marker-alt"></i>
    <span class="fs-5 text-gray-800 mb-0">Định vị bằng cách bấm chọn vị trí trên bản đồ</span>
  </a>
  <a class="d-flex align-items-center py-3 px-3 bg-hover-light cursor-pointer" href="javascript:;">
    <i class="me-2 text-gray-800 fas fa-street-view"></i>
    <span class="fs-5 text-gray-800 mb-0">Định vị bằng vị trí hiện thời của thiết bị</span>
  </a>
</div>
